@import url("https://fonts.cdnfonts.com/css/aileron");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aileron", monospace;
  background: #1a1a2d;
  color: #e0e0e0;
  overflow: hidden;
  transition: background-color 0.8s ease;
}

#app {
  width: 100vw;
  height: 100vh;
}
